
.top{
  display: flex;
  align-self: flex-start;
}

.bottom{
  display: fixed;
  margin-top: 6%;
  align-self: flex-end;
}

.img{
  width: 100%;
}

#accountImg{
  width: 50%;
}

#storyDiv{
  margin-left: 13%;
  width:40%;
  height: 20vh;
}

.story{
  position: relative;
  width: 45%;
  padding: 0;
}

#mydiv{
  margin-top: 2%;
  margin-left: 13%;
  margin-right: 13%;
  position: relative;
}

#talia {
  width: 25%;
  position: absolute;
  top:0;
  left:0;
}

#taliamove {
  width: 100%;
  cursor: move;
}

#spotted{
  position:absolute;
  display: inline;
}

#process{
  position: absolute;
  display: inline;
  left: 30%;
}

#taliapic {
  width: 25%;
  cursor: move;
  z-index: 5;
}
