/* If the browser window is smaller than 500px, the background color will change to lightblue: */
@media (max-width: 500px) {
  body {
    background-color: lightblue;
  }
}

/* If the browser window is shorter than 650px, the background will turn orange */
@media (max-height: 650px) {
  body {
    background-color: orange;
  }

  /* The body's font-size is smaller by default */
  body {
    font-size: 16px;
  }

  /* Tablet breakpoint */
  @media (min-width: 768px) {
    body {
      font-size: 50px;
    }
  }

  /* Desktop breakpoint */
  @media (min-width: 992px) {
    body {
      font-size: 60px;
    }
  }

  /* Wide screen breakpoint */
  @media (min-width: 1200px) {
    body {
      font-size: 70px;
    }
  }
