<html>
<style>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}


.row {
  display: flex;
}

.col {
  flex: 50%;
}

img{
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.timecapsule{
  font-family: sans-serif;
  text-align: center;
}

}
