.wrap
  width: 100vw
  height: 100vh
  display: flex
  align-items: center
  justify-content: center

.clock
  width: 300px
  height: 300px
  border: 3px solid #414253
  border-radius: 100%
  position: relative
h1
  position: absolute
  font-size: 1.4rem
h1:nth-child(1)
  top: 6px
  left: 140px
h1:nth-child(2)
  top: 140px
  right: 6px
h1:nth-child(3)
  bottom: 6px
  left: 143px
h1:nth-child(4)
  top: 140px
  left: 6px
.needles
  position: absolute
  top: 147px
  left: 147px
.hour-needle
  width: 100px
  height: 3px
  transform-origin: center left
  background: #000
  animation: rotate 86400s linear infinite

.minute-needle
  width: 130px
  height: 3px
  background: #414253
  animation: rotate 60s linear infinite
  transform-origin: center left

@keyframes rotate
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)
