.sidetext {
  font-family: Avenir;
  src: url(AvenirNextLtPro-MediumCnlt.otf);
  font-size: 20px;
}

.side1 {
  position: fixed;
  left: 0;
  transform: rotate(90deg);
  padding-left: 10px;
  top: 50%;
}

.side2 {
  transform: rotate(270deg);
  right: 0;
  position: fixed;
  padding-right: 10px;
  top: 50%;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 10px;
}

body {
  background-color: #C5CDE4;
}
